body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 2vh;
.c1,.c2,.c3{
  flex: 1;
  padding: 25px;
  border: 2px solid black;
  border-radius: 8px;
}
.c1:Hover,.c2:Hover,.c3:Hover{
  background-color: gold;
    font-size: medium;
    transform: scale(1.05);
    box-shadow:0 8px 16px rgba(0,0,0,0.2); 
}
